/* Import Google Font cdn link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.logo {
    height: 80px;
    padding: 16px;
}

.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 0.5rem;
    margin: 4px 0;
    border-radius: 8px;
    transition: all 0.5 ease-in-out;
}

.menu li:hover,
.active {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* main body section  HEADER*/

.main--content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: rgba(113, 99, 186, 255);
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1;
}

/* CARD CONTAINER BAWAH*/

.card--container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
}

.card--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    min-height: 150px;
}

.main--title {
    text-align: center;
    color: rgba(113, 99, 186, 255);
    padding-bottom: 30px;
    font-size: 15px;
}

.payment--card {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment--card:hover {
    transform: translateY(-5px);
}

.card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.amount {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 12px;
    font-weight: 200;
}

.amount--value {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.icon {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
}

.card--detail {
 display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card--detail span {
    font-size: 12px;
    color: #666;
}

.button {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: rgba(113, 99, 186, 200);
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
}

.footer p {
    color: #666;
    font-size: 14px;
}

/* Form Styles */

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     max-width: 300px;
        
        

}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(113, 99, 186, 255);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #666;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select
 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    margin-bottom: 15px;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="tel"]:focus,
.form-container select:focus {
    border-color: rgba(113, 99, 186, 255);
}

.form-container input[type="submit"] {
    background: rgba(113, 99, 186, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

.form-container input[type="submit"]:hover {
    background: rgba(113, 99, 186, 200);
}


.form-container input[type="reset"] {
    background: #ccc;
    color: #666;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

.form-container input[type="reset"]:hover {
    background: #aaa;
}

.form-container .clear-form {
    background: #ccc;
    color: #666;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
    margin-bottom: 10px;
}

.form-container .clear-form:hover {
    background: #aaa;
}