body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    background: rgba(113, 99, 186, 255); /* Gradient background */
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #001743;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    display: inline-block;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

select:hover {
    border-color: #007bff;
}

.button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003f7f;
}

a.button {
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 2rem;
    }

    .button {
        font-size: 1rem;
    }

    select {
        font-size: 1rem;
    }
}


.styled-button {
    background-color: blue; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the link look like a button */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.styled-button:hover {
    background-color: lightblue; /* Darker green on hover */
}

.logout-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the content stays vertically centered */
}